/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "devise";
@import "font-awesome";

body {
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 100vh;
  background-color: light-gray;

  &.signed-in {
    padding-left: 10%;

    #sidebar {
      position: absolute;
      top: 55px;
      left: 0;
      bottom: 0;
      width: 10%;
      font-size: .7em;
      padding: 0;
    }
  }

  .authform {
    padding-top: 30px;
    max-width: 320px;
    margin: 0 auto;

    form {
      @extend .card;
      padding: 10px;
      @extend .bg-light;
      @extend .small;
    }
    .right {
      float: right !important;
    }
    .button {
      @extend .btn;
      @extend .btn-primary;
    }

    input.radio-tab {
      display: none;

      & + label {
        cursor: pointer;
        float: left;
        border-top: 1px solid #aaa;
        background-color: #fff;
        padding: .5em 1em;
            
        &:hover {
          background-color: #eee;
        }
      }

      &:checked + label {
        box-shadow: 0 3px 0 -1px #fff,
          inset 0 5px 0 -1px #007bff;
        background-color: #fff;
        border-top: 0
      }
    }

    .role-tabs {
      .form-check {
        padding-left: 0px;
      }
    }
  }

  #error_explanation:not(:empty) {
    @extend .alert;
    @extend .alert-danger;
  }
  #error_explanation h2 {
    font-size: 16px;
  }
  .button-xs {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
  }
}