/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap/custom";
@import "bootstrap";
@import "variables";
@import "font-awesome";

body {
  padding-top: 55px;
  padding-bottom: 55px;
  min-height: 100vh;

  &.signed-in {
    padding-left: 10%;

    #sidebar {
      position: fixed;
      top: 55px;
      left: 0;
      bottom: 0;
      width: 10%;
      font-size: .7em;
      padding: 0;
    }
  }

  input {
    border-radius: 0 !important;
  }

  h1, h2 {
    font-weight: bold;
  }

  .btn {
    border-radius: 0;
  }

  .btn-facebook {
    background-color: $facebook;
  }

  .btn-google {
    background-color: $google;
  }
}

.auth-tabs {
  .auth-tab {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    color: $gray-700;
  }

  input[type='radio']:checked + label.auth-tab {
    background-color: $blue;
    color: white;
  }

  input#user_role_tutor:checked ~ .social-signup .social-buttons#student_buttons {
    display: none;
  }

  input#user_role_student:checked ~ .social-signup .social-buttons#tutor_buttons {
    display: none;
  }
}
