.authform {
  padding-top: 30px;
  max-width: 420px;
  margin: 0 auto;
  
  .auth-title {
    color: #47525e;
    font-size: 36px;
    font-weight: 600;
  }

  .form-text.text-muted {
    color: white !important;
  }

  .terms-wrapper {
    display: flex;

    .terms-link {
      display: block;
      padding-left: 15px;
    }

    .terms-checkbox {
      color: white
    }
  }

  form {
    background-color: rgb(95, 165, 250);
    padding: 30px
  }

  .right {
    float: right !important;
  }

  .auth-links {
    padding: 15px 0;

    a {
      color: white;
    }
  }

  .auth-tabs {
    display: flex;

    .auth-tab {
      flex: 1;
      margin-bottom: 0;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      color: #47525e;
      
      &.active {
        background-color: rgb(95, 165, 250);
        color: white;
      }
    }
  }
}